@font-face {
    font-family: "Josefin Sans";
    src: url("../assets/fonts/josefin-sans/josefinsans-light-webfont.eot");
    src: url("../assets/fonts/josefin-sans/josefinsans-light-webfont.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/josefin-sans/josefinsans-light-webfont.woff") format('woff'),
    url("../assets/fonts/josefin-sans/josefinsans-light-webfont.ttf") format('truetype');
}

html {
    background: rgba(192, 192, 192, 0.5);
}

body {
    width: 960px;
    margin: 0 auto;
    font-family: "Josefin Sans";
}

.navbar-header {
    background: steelblue;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
}

.main-content {
    padding: 20px 15em;
    background: lavender;
}

h2.clear-example {
    clear: right;
    background: darkslategray;
}

img {
     float: right;
     position: relative;
     width: 20em;
 }

.containing-block {
    border: 3px black solid;
    height: auto;
    margin-bottom: 10px;
    padding: 20px;
    position: relative;
}

.relative-element {
    position: relative;
    border: 3px black solid;
    height: 100px;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 1%;
    background: aquamarine;
}

li {
    list-style-type: none;
    text-decoration: none;
    font-size: 5ex;
}